.signupParent{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.3px solid rgb(238, 238, 238);
    width: 400px;
    margin: 0 auto;
    margin-top:6em ;
    padding: 3em 0;
    box-shadow: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.signupdiv{
    font-size: 30px;
    font-weight: 500;
}
.subheadsignup{
    font-size: 15px;
    margin-bottom: 2em ;
    color: gray;
}
.signupParent form input{
    width: 300px;
    height:30px;
    margin-bottom: 1.8em;
    border-right:0px;
    border-left:0px;
    border-top: 0px;
    border-bottom: 1px solid rgb(195, 195, 195);
    font-size: 16px;
}
.signupParent form button{
    width: 300px;
    height:30px;
    background-color: #EC5B24;
    color: #FFF;
    padding: 10px 14px;
    height: 40px;
    border-radius: 2px;
    border: none;
    width: 100%;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    position: relative;
    cursor: pointer;
}
.loginRedirector{
    margin-top: 0.5em;
}