@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');

.dashboardParent{
    margin: 5em;
    font-family: 'Poppins', sans-serif;
}
.aboutSection{
    background-image: linear-gradient(273deg,#ad2e41,#721053);
    
}
.bk_sub_user{
    margin-bottom: 5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}
.aboutSection div{
    color: white;
    word-wrap: break-word;
    color: #fff;
    
    width: -moz-calc(100% - 140px);
    width: -o-calc(100% - 140px);
    width: -webkit-calc(100% - 140px);
    width: calc(100% - 140px);
}
.bking_head{
    margin-bottom: 2em;
    padding-top: 1em;
    font-size: 2em;
    text-transform: uppercase;
}
.aboutSectionParent div{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
    margin-left: 15px;
}
.aboutSectionParent p{
    line-height: 1.7;
    margin-left: 15px;
}
.aboutSectionParent a{
    line-height: 1.3;
    margin-left: 15px;
    color: #EC5B24;
}
.aboutSection{
    padding: 1em 0;
    margin-bottom: 2em;
}