.dashboardParent{
    margin: 5em;
    
}
.aboutSection{
    background-image: linear-gradient(273deg,#ad2e41,#721053);
    
}
.aboutSection div{
    color: white;
    word-wrap: break-word;
    color: #fff;
    
    width: -moz-calc(100% - 140px);
    width: -o-calc(100% - 140px);
    width: -webkit-calc(100% - 140px);
    width: calc(100% - 140px);
}
.aboutSectionParent div{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
    margin-left: 15px;
}
.aboutSectionParent p{
    line-height: 1.7;
    margin-left: 15px;
}
.aboutSectionParent a{
    line-height: 1.3;
    margin-left: 15px;
    color: #EC5B24;
}
.aboutSection{
    padding: 1em 0;
    margin-bottom: 2em;
}